* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-container {
  min-height: 100vh;
}

.nav-container {
  background-color: #45e3ae;
}

.nav-center {
  width: 70%;
  margin: 0 auto;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.nav-title {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
}

.nav-icon {
  position: relative;
  color: #fff;
}

.icon {
  font-size: 30px;
}
.nav-amount {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #adfde2;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.cart-container {
  width: 70%;
  margin: 70px auto;
}
.cart-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  color: #333;
}

.cart-empty {
  text-align: center;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  color: #333;
}

.cart-items {
  padding: 5px 5px;
}

.cart-footer {
  border-top: 2px solid #ababab;
  padding: 10px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.cart-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.cart-total p {
  text-transform: capitalize;
  letter-spacing: 1.5px;
  color: #333;
}
.dollar {
  padding: 2px 10px;
  border-radius: 5px;
  background-color: #45e3ae;
  color: #fff;
  letter-spacing: 1.5px;
}

.clear-btn {
  background-color: transparent;
  border: 1px solid #f73e3e;
  color: #f73e3e;
  padding: 3px 15px;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.5s;
  letter-spacing: 1.5px;
}
.clear-btn:hover {
  background-color: #f73e3e;
  color: #fff;
}

.article-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.article-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.article-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

.article-title {
  font-size: 17px;
  letter-spacing: 1px;
  color: #333;
}

.article-price {
  letter-spacing: 1px;
  font-size: 17px;
  color: rgb(103, 102, 102);
}

.remove-btn {
  background: transparent;
  border: none;
  font-size: 16px;
  color: #2eb689;
  letter-spacing: 1.5px;
  font-weight: 600;
  cursor: pointer;
}

.remove-btn:hover {
  color: #137756;
}

.article-footer {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 18px
}

.article-icon {
  color: #2eb689;
  cursor: pointer;
}

.article-icon:hover {
  color: #137756;
}

.article-amount {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

